<style>
.custommenu_collection {
    background-color: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    width: 100%;
    z-index: 1;
}

.collection_list {
    display: flex;
    justify-content: center;
}

.custommenu_collection .list_items {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    margin-left: 0;
}
.link_img img {
  max-width: 90px;
}
.custommenu_collection .custommenu_listItem {
    display: list-item;
    align-items: center;
    padding: 0 8px;
}
.custommenu_collection a {
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custommenu_collection .list_items {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    margin-left: 0;
overflow-y: hidden;
}
.custommenu_collection .link_img {
    display: block;
    padding-bottom: 10px;
}
.custommenu_collection .text_link {
    display: block;
}
.custommenu_collection .item_link {
    text-decoration: inherit;
    width: 100%;
    font-size: 11px;
    display: block;
    text-align: center;
    line-height: 1;
    color: rgba(var(--color-foreground),.75);
    text-transform: uppercase;
    font-family: inherit;
    font-weight: inherit;
    white-space: nowrap;
}
@media screen and (min-width: 750px) {
  .section+.section {
    margin-top: var(--spacing-sections-desktop);
  } 
}

</style>
<div class="custommenu_collection">
    <div class="collection_list">
      <ul class="list_items tw-w-full tw-max-w-full tw-gap-1 tw-touch-pan-x justify-content-md-center">
                <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
                  <a href="https://www.nowenastore.com/collections/beddings-pillow-cases" class="custommenu_link">
                    <span class="link_img">
                      <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/bedings.jpg?v=1683507430" alt="Beddings/Blankets" style="border: 2px solid rgb(255, 255, 255);">
                    </span>
                    <span class="text_link">
                      <span class="item_link">Beddings/Blankets</span>
                    </span>
                  </a>
                </li>
                <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
                  <a href="https://www.nowenastore.com/collections/sofa-chair-cover" class="custommenu_link">
                    <span class="link_img">
                      <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/sofa.jpg?v=1683507430" alt="Sofa/chair_Cover" style="border: 2px solid rgb(255, 255, 255);">
                    </span>
                    <span class="text_link">
                      <span class="item_link">Sofa/Chair Cover</span>
                    </span>
                  </a>
                </li>
                <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
                  <a href="https://www.nowenastore.com/collections/curtains-curtain-accessories" class="custommenu_link">
                    <span class="link_img">
                      <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/curtain.jpg?v=1683507430" alt="Curtains/Window_accessories" style="border: 2px solid rgb(255, 255, 255);">
                    </span>
                    <span class="text_link">
                      <span class="item_link">Curtains</span>
                    </span>
                  </a>
                </li>
                <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
                  <a href="https://www.nowenastore.com/collections/furniture" class="custommenu_link">
                    <span class="link_img">
                      <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/bedside_table.jpg?v=1683508812" alt="Furnitures" style="border: 2px solid rgb(255, 255, 255);">
                    </span>
                    <span class="text_link">
                      <span class="item_link">Furnitures</span>
                    </span>
                  </a>
                </li>
                <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
                  <a href="https://www.nowenastore.com/collections/carpets-rugs" class="custommenu_link">
                    <span class="link_img">
                      <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/rugs.jpg?v=1683507430" alt="Carpets/Rugs" style="border: 2px solid rgb(255, 255, 255);">
                    </span>
                    <span class="text_link">
                      <span class="item_link">Carpets & Rugs</span>
                    </span>
                  </a>
                </li>
                <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
                  <a href="https://www.nowenastore.com/collections/smart-home-gadgets" class="custommenu_link">
                    <span class="link_img">
                      <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/smart_home.jpg?v=1683507430" alt="smart_home" style="border: 2px solid rgb(255, 255, 255);">
                    </span>
                    <span class="text_link">
                      <span class="item_link">Smart Home</span>
                    </span>
                  </a>
                </li>

                <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
                  <a href="https://www.nowenastore.com/collections/kitchen" class="custommenu_link">
                    <span class="link_img">
                      <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/kitchen.jpg?v=1683507430" alt="kitchen" style="border: 2px solid rgb(255, 255, 255);">
                    </span>
                    <span class="text_link">
                      <span class="item_link">Kitchen</span>
                    </span>
                  </a>
                </li>

                <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
                  <a href="https://www.nowenastore.com/collections/bathroom" class="custommenu_link">
                    <span class="link_img">
                      <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/bath.jpg?v=1683507430" alt="kitchen" style="border: 2px solid rgb(255, 255, 255);">
                    </span>
                    <span class="text_link">
                      <span class="item_link">Bathroom</span>
                    </span>
                  </a>
                </li>
      <ul>
    </div>
</div>