<style>
.custommenu_collection {
    background-color: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    z-index: 1;
}

.collection_list {
    display: flex;
    justify-content: center;
}

.custommenu_collection .list_items {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    margin-left: 0;
}
.link_img img {
  max-width: 90px;
}
.custommenu_collection .custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300 {
    display: list-item;
    align-items: center;
    padding: 0 8px;
}
.custommenu_collection a {
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custommenu_collection .list_items {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    margin-left: 0;
overflow-y: hidden;
}
.custommenu_collection .link_img {
    display: block;
    padding-bottom: 10px;
}
.custommenu_collection .text_link {
    display: block;
}
.custommenu_collection .item_link {
    text-decoration: inherit;
    width: 100%;
    font-size: 11px;
    display: block;
    text-align: center;
    line-height: 1;
    color: rgba(var(--color-foreground),.75);
    text-transform: uppercase;
    font-family: inherit;
    font-weight: inherit;
    white-space: nowrap;
}
@media screen and (min-width: 750px) {
  .section+.section {
    margin-top: var(--spacing-sections-desktop);
  } 
}

</style>
<div class="custommenu_collection">
    <div class="collection_list">
        <ul class="tw-h-52 list_items tw-w-full tw-max-w-full tw-gap-1 tw-touch-pan-x justify-content-md-center">
      <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
        <a href="https://www.nowenastore.com/collections/women-clothing-dresses" class="custommenu_link">
          <span class="link_img">
            <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/dress.jpg?v=1683026423" alt="Dress" style="border: 2px solid rgb(255, 255, 255);">
          </span>
          <span class="text_link">
            <span class="item_link">Dress</span>
          </span>
        </a>
      </li>
      <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
        <a href="https://www.nowenastore.com/collections/women-clothing-coats-jackets" class="custommenu_link">
          <span class="link_img">
            <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/coats_and_jackets.jpg?v=1683026424" alt="Jackets/Coats" style="border: 2px solid rgb(255, 255, 255);">
          </span>
          <span class="text_link">
            <span class="item_link">Jackets/Coats</span>
          </span>
        </a>
      </li>
      <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
        <a href="https://www.nowenastore.com/collections/women-clothing-jumpsuit-and-rompers" class="custommenu_link">
          <span class="link_img">
            <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/jumpsuit.jpg?v=1683087533" alt="Jumpsuits" style="border: 2px solid rgb(255, 255, 255);">
          </span>
          <span class="text_link">
            <span class="item_link">Jumpsuits</span>
          </span>
        </a>
      </li>
      <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
        <a href="https://www.nowenastore.com/collections/women-clothing-pants" class="custommenu_link">
          <span class="link_img">
            <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/pants.jpg?v=1683087533" alt="Pants" style="border: 2px solid rgb(255, 255, 255);">
          </span>
          <span class="text_link">
            <span class="item_link">Pants</span>
          </span>
        </a>
      </li>
      <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
        <a href="https://www.nowenastore.com/collections/women-clothing-skirts" class="custommenu_link">
          <span class="link_img">
            <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/skirt-shorts.jpg?v=1683088245" alt="Skirts/Shorts" style="border: 2px solid rgb(255, 255, 255);">
          </span>
          <span class="text_link">
            <span class="item_link">Skirts/Shorts</span>
          </span>
        </a>
      </li>
        <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
          <a href="https://www.nowenastore.com/collections/women-clothing-suiting-blazers" class="custommenu_link">
            <span class="link_img">
              <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/suits-blazers.jpg?v=1683088245" alt="Suits/Blazers" style="border: 2px solid rgb(255, 255, 255);">
            </span>
            <span class="text_link">
              <span class="item_link">Suits/Blazers</span>
            </span>
          </a>
        </li>
        <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
          <a href="https://www.nowenastore.com/collections/women-clothing-sweaters" class="custommenu_link">
            <span class="link_img">
              <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/sweaters.jpg?v=1683088766" alt="Sweaters" style="border: 2px solid rgb(255, 255, 255);">
            </span>
            <span class="text_link">
              <span class="item_link">Sweaters</span>
            </span>
          </a>
        </li>
        <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
          <a href="https://www.nowenastore.com/collections/women-clothing-swimsuits-cover-ups" class="custommenu_link">
            <span class="link_img">
              <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/swimwear.jpg?v=1683088766" alt="Swimwear" style="border: 2px solid rgb(255, 255, 255);">
            </span>
            <span class="text_link">
              <span class="item_link">Swimwear</span>
            </span>
          </a>
        </li>
        <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
          <a href="https://www.nowenastore.com/collections/women-accessories-belt" class="custommenu_link">
            <span class="link_img">
              <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/belts.jpg?v=1683089688" alt="Belts" style="border: 2px solid rgb(255, 255, 255);">
            </span>
            <span class="text_link">
              <span class="item_link">Belts</span>
            </span>
          </a>
        </li>
        <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
          <a href="https://www.nowenastore.com/collections/women-accessories-headwear" class="custommenu_link">
            <span class="link_img">
              <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/hats.jpg?v=1683089688" alt="Headwear" style="border: 2px solid rgb(255, 255, 255);">
            </span>
            <span class="text_link">
              <span class="item_link">Headwear</span>
            </span>
          </a>
        </li>
        <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
          <a href="https://www.nowenastore.com/collections/women-accessories-scarves-wraps" class="custommenu_link">
            <span class="link_img">
              <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/scarf.jpg?v=1683089688" alt="Scarf" style="border: 2px solid rgb(255, 255, 255);">
            </span>
            <span class="text_link">
              <span class="item_link">Scarf</span>
            </span>
          </a>
        </li>
        <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
          <a href="https://www.nowenastore.com/collections/women-accessories-socks-hosiery" class="custommenu_link">
            <span class="link_img">
              <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/socks.jpg?v=1683162361" alt="Socks/Hosiery" style="border: 2px solid rgb(255, 255, 255);">
            </span>
            <span class="text_link">
              <span class="item_link">Socks/Hosiery</span>
            </span>
          </a>
        </li>
        <li class="custommenu_listItem tw-transition tw-group hover:tw-scale-110 tw-duration-300">
          <a href="https://www.nowenastore.com/collections/women-s-shoes" class="custommenu_link">
            <span class="link_img">
              <img loading="lazy" height="100" width="100" src="https://cdn.shopify.com/s/files/1/0656/4111/9963/files/shoes.jpg?v=1683162361" alt="Shoes" style="border: 2px solid rgb(255, 255, 255);">
            </span>
            <span class="text_link">
              <span class="item_link">Shoes</span>
            </span>
          </a>
        </li>
      <ul>
    </div>
</div>